<!DOCTYPE html>
<html lang="pl">
<head>
  <link rel="icon" href="data:,">
  <meta charset = "utf-8">
  <link rel="stylesheet" href="styles/style.css" id="themeStylesheet">
  <link rel="stylesheet", href = "styles/sign.css">
  <link rel="stylesheet", href = "styles/AAllowbox.css">
  <link rel="stylesheet", href = "styles/carousell.css">
  <link rel="stylesheet", href = "styles/gallery.css">
  <title>BjörnHub</title>
  

</head>

<body>   
  <audio loop id = "BjornSong"><source src="assets/Start.mp3" type="audio/mpeg"> </audio>  
  <div class="AAllowBox" id="AAllowBox">
      <p>This page requires audio in order to provide intended experience.</p>
    <div class ="bbox">
    <button id="audioBtn" class="audioBtn">Go</button>
    <button id="leaveBtn" class="audioBtn">Leave Page</button>
    </div>
  </div> 

  <header>  
    <div class="master">
      <div class="logo"><img src="assets/BhubTS.png" alt="Logo"></div>
      <div class="search"><input id="search_tag" type="text" name="search" placeholder="Search by Tag"></div>
      <div class="login">
        <button type="button" id="signInButton">Sign In</button>
        <button type="button" id="signUpButton">Sign Up</button>
        <button onclick="toggleTheme()" id="darkmode"></button>
      </div> 
    </div>
    <nav>
      <div class="unrollBox">&#9776;</div>
      <div class="nav-links">
        <div><a href="index.html">Home</a></div>
        <div><a href="bjornStars.html">Björnstars</a></div>
        <div><a href="datingSim.html">Dating Sim</a></div>
        <div><a>Community</a></div>
      </div>
    </nav>

  </header>

  <main>
    <div class="carousell" style="--quantity: 5;">
      <div class="slider">
        <div class="slide" style="--position:1;"><img src="assets/npcs/B1.png"></div>
        <div class="slide" style="--position:2;"><img src="assets/npcs/B2.png"></div>
        <div class="slide" style="--position:3;"><img src="assets/npcs/B3.png"></div>
        <div class="slide" style="--position:4;"><img src="assets/npcs/B4.png"></div>
        <div class="slide" style="--position:5;"><img src="assets/npcs/B5.png"></div>
      </div>
    </div>
    
    <div class="gallery">
      <div class="column" id="c1"></div>
      <div class="column" id="c2"></div>
      <div class="column" id="c3"></div>
      <div class="column" id="c4"></div>
    </div>
  </main>

  <footer>
    <div>
      <h3> BjörnHub © 2025 </h3>   
    </div>
  </footer>  
  
  <dialog id="signInDialog">
    <form method="dialog">
      <button type="button" id="closeSignIn" class="close-buttons">x</button>
      <h1 id="signText">Sign in</h1><br><br>
      <input type="text" id="loginSignIn" maxlength="19" placeholder="Credit card number"><br><br>
      <input type="text" id="password" maxlength="20" placeholder="Password"><br>
      <button type="submit" class="dialog-buttons">Sign in</button>
    </form>
  </dialog>
  <dialog id="signUpDialog">
    <form method="dialog">
      <button type="button" id="closeSignUp" class="close-buttons">x</button>
      <h1 id="signText">Sign Up</h1><br><br>
      <input type="text" id="loginSignUp" maxlength="19" placeholder="Credit card number"><br><br>
      <input type="text" id="expirationDate" maxlength="5" placeholder="Expiration date"><br><br>
      <input type="text" id="threeNumbers" maxlength="3" placeholder="Funny numbers on back"><br><br>
      <input type="text" id="password" maxlength="20" placeholder="Password"><br>
      <button type="submit" class="dialog-buttons">Sign up</button>  
    </form>
  </dialog>


</body>
<script src="scripts/gallery.js?v=<%= Date.now() %>"></script>
<script src="scripts/sign.js?v=<%= Date.now() %>"></script>
<script src="scripts/brightness.js"></script>
<script src="scripts/unroll.js"></script>
<script src="scripts/allow.js"></script>
</html> 
