.game{
  width: 100%;
  min-width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.game .dialogueBox{
  --dBoxHeight: 340px;
  width: 90%;
  height: var(--dBoxHeight);
  margin-top: 40px;
  margin-left: 5%;
  display: flex;
  background-color: rgba(10,10,10,0.8);
  border-radius: 20px 20px 0px 0px;
}
.game .dialogueBox .speaker{
  width: 20%;
  min-width: 200px;
  height: 80%;
  margin: calc(var(--dBoxHeight)/10);
  background-color: rgba(33,33,33,0.6);
}
.game .dialogueBox .speaker img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.game .dialogueBox .text{
  width: 70%;
  height: 80%;
  margin: calc(var(--dBoxHeight)/10);
  font-size: 30px;
  color: #ffffff;
}
.game .dialogueBox .next{
  position: absolute;
  width: 200px;
  height: calc(var(--dBoxHeight)/10);
  margin-left: calc(90% - 220px);
  margin-top: calc(var(--dBoxHeight)*9/10);
  background-color: rgba(80,80,80,0.9);
  border: 2px solid #ac4402;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  visibility: hidden;
}
.game .dialogueBox .next:hover{
  background-color: rgba(80,80,80,0.8);
  transition: ease-in-out 0.4s;
  border: 2px solid #999999;
  color: #c9e5ff;
  cursor: pointer;
}


.game .options{
  --opHeight: 360px;
  height: var(--opHeight);
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgba(10,10,10,0.8);
  border-radius: 0px 0px 20px 20px;
}
.game .options .choice{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-top: 20px;
  background-color: rgba(50, 50, 50, 0.8);
  color: #ffffff;
  border: 2px solid #ac4402;
  border-radius: 10px;
}
